.names,h2{
    font-family: 'Playfair Display SC', serif;
    padding-top: 5px;
} 
.signature {
    font-family: 'Marck Script', cursive;
}
img {
    width:25rem; 
    height:25rem;
}
.right {
    width: 20rem; 
    height: 15rem;
    color: black;
    position: relative;
    left: -100px;
    top:200px;
    
}
.left{
    width: 20rem; 
    height: 15rem;
    color: black;
    position: relative;
    right: 600px;
    top:200px;
}  


h2 {
    letter-spacing: 5px;
}