<div class="container text-center">
<hr>
<h1 class="title pb-5 fw-light">For Photographers,by Photographers</h1>
<p class="fs-4">We're a small tight-knit team specialised in distinct types of Photography with particular goals. <br> We work with you to create solutions you love and we're proud of. <br> We've worked hard to build a company where we do big things. <br>
This is how we do it .</p>
</div>

<div class="container text-center ">

<h1 class="m-5 animate__animated animate__bounceInUp animate__slower">MEET THE TEAM </h1>
<hr>
</div>  


<div class="row">
<div class="container text-center ">
   
    <div class="d-flex col-12 col-sm-12 col-md-8 offset-md-4 offset-lg-5 offset-sm-3 mb-5 ">
            <img src="../assets/mark.jpg" class="rounded-circle img-responsive animate__animated animate__fadeInDownBig " alt="">
        <div class="border right border-dark d-none d-md-block animate__animated animate__bounceInRight animate__slower" >    
             <h3 class="names">Markus Kamitz</h3><br>
             <h5>CEO <br>
            Art Director</h5><br>
             <h4 class="signature">Markus Kamitz</h4>
        </div>
    </div>


<div class="d-flex col-12 col-sm-12 col-md-8 offset-md-4 offset-lg-5 offset-sm-3  mb-5   ">
        <img src="../assets/Marko.jpg" class="rounded-circle img-responsive animate__animated animate__fadeInDownBig "  alt="">
    <div class="border left border-dark d-none d-md-block animate__animated animate__bounceInLeft animate__slower" >  
       <h3 class="names">Marko Tomic</h3><br>
       <h5>COO <br>
        Head of Design  </h5><br>
       <h4 class="signature">Marko Tomic</h4>
    </div>
</div>


<div class="d-flex col-12 col-sm-12 col-md-8 offset-md-4 offset-lg-5 offset-sm-3 mb-5  ">
        <img src="../assets/uros2.jpg" class="rounded-circle img-responsive animate__animated animate__fadeInDownBig " alt="">
    <div class="border right border-dark d-none d-md-block animate__animated animate__bounceInRight animate__slower">
       <h3 class="names">Uros Petrovic</h3><br>
       <h5>CTO <br>
        Project Manager</h5><br>
       <h4 class="signature">Uros Petrovic</h4>
    </div>
</div>


<div class="d-flex col-12 col-sm-12 col-md-8 offset-md-4 offset-lg-5 offset-sm-3 mb-5   ">
        <img src="../assets/zsolt_pic.jpg" class="rounded-circle img-responsive animate__animated animate__fadeInDownBig" alt="">
    <div class="border left border-dark d-none d-md-block animate__animated animate__bounceInLeft animate__slower">   
        <h3 class="names">Zsolt Radai</h3><br>
        <h5>CMO <br>
        Chairman of Hedge fund</h5><br>
        <h4 class="signature">Zsolt Radai</h4>
    </div>
</div>

</div>

</div>

