<div class="container text-center">
<hr>
<h2 class="pb-5 fw-light">For Photographers,by Photographers</h2>
<p class="fs-4">We're a small tight-knit team specialised in distinct types of Photography with particular goals.We work with you to create solutions you love and we're proud of. We've worked hard to build a company where we do big things.
This is how we do it .</p>
</div>

<div class="container text-center ">

<h2 class="m-5">MEET THE TEAM </h2>
<hr>
</div>  


<div class="row">
<div class="container text-center">
   
    <div class="d-flex col-12 col-sm-12 col-md-8 offset-md-4 offset-lg-5 offset-sm-3 mb-5 ">
            <img src="../assets/mark.jpg" class="rounded-circle img-responsive" alt="">
        <div class="border right border-dark d-none d-md-block " >    
             <h3 class="names">Markus Kamitz</h3><br>
             <p>CEO <br>
            Art Director</p><br>
             <h4 class="signature">Markus Kamitz</h4>
        </div>
    </div>


<div class="d-flex col-12 col-sm-12 col-md-8 offset-md-4 offset-lg-5 offset-sm-3  mb-5">
        <img src="../assets/Marko.jpg" class="rounded-circle img-responsive"  alt="">
    <div class="border left border-dark d-none d-md-block" >  
       <h3 class="names">Marko Tomic</h3><br>
       <p>COO <br>
        Head of Design  </p><br>
       <h4 class="signature">Marko Tomic</h4>
    </div>
</div>


<div class="d-flex col-12 col-sm-12 col-md-8 offset-md-4 offset-lg-5 offset-sm-3 mb-5">
        <img src="../assets/uros2.jpg" class="rounded-circle img-responsive" alt="">
    <div class="border right border-dark d-none d-md-block">
       <h3 class="names">Uros Petrovic</h3><br>
       <p>CTO <br>
        Project Manager</p><br>
       <h4 class="signature">Uros Petrovic</h4>
    </div>
</div>


<div class="d-flex col-12 col-sm-12 col-md-8 offset-md-4 offset-lg-5 offset-sm-3 mb-5 ">
        <img src="../assets/zsolt_pic.jpg" class="rounded-circle img-responsive" alt="">
    <div class="border left border-dark d-none d-md-block">   
        <h3 class="names">Zsolt Radai</h3><br>
        <p>CMO <br>
        Chairman of Hedge fund</p><br>
        <h4 class="signature">Zsolt Radai</h4>
    </div>
</div>

</div>

</div>

