.names,h1,h2,h5{
    font-family: 'Playfair Display SC', serif;
    padding-top: 5px;
} 
.signature {
    font-family: 'Marck Script', cursive;
}
img {
    width:25rem; 
    height:25rem;
}
.right {
    width: 20rem; 
    height: 15rem;
   
    position: relative;
    left: -100px;
    top:200px;
    background-color: lightgray;
    
}
.left{
    width: 20rem; 
    height: 15rem;
   
    position: relative;
    left: -600px;
    top:200px;
    background-color: lightgray;
}  


h2 {
    letter-spacing: 5px;
}

