<div class="container animate__animated animate__pulse animate__repeat-2 " id="cent">
    <span> Welcome on The Online portfolio of <span id="cov">Zumm & Söhne Photo Agency</span><br>
    On this site You will find assorted works ranging <br>
    from classic Portraits to editorial Nature, Animals, <br>
    Cars, Architecture and Fine Arts. </span>
</div>

<div class="container" id="batn">
<a href="/portfolio" type="button" class="btn btn-outline-secondary animate__animated animate__pulse animate__infinite">Take us</a>
</div>