<div class="container">

  <h1 id="pageTitle" class="text-center my-5">Testimonials</h1>

    <div class="row">

      <div class="col-4 offset-4 offset-md-0 col-md-3 mask">
        <img class="img-thumbnail myImg mt-3" src="/assets/port1.jpeg" alt="">
      </div>

      <div class="col-12  col-md-9 mask">
        <p class="p-3">Zumm&Söhne helped me to go public with my offer as an independent consultant. I already had a finished homepage and a concept, but I lacked the professional photography to put my program online. With their guidance I felt confident and also grateful to have put together such a wonderful portfolio. Through the sessions with them I was able to go online quite confidently and it felt great. They supported me with tons of advice and guidance that were very helpful to me and my projects. 
          <br>
          Joan 
          <br>
          <br>
          <span class="font-weight-bold" id="nameProfession">Joan Smith, Product Developer</span>
          <br>
          <span id="nameProfession">www.joansmith.com</span>
        </p>
      </div>
      

      <div class="col-4 offset-4 offset-md-0 col-md-3 maskDarker">
        <img class="img-thumbnail myImg mt-3" src="/assets/port2.jpeg" alt="">
      </div>

      <div class="col-12  col-md-9 maskDarker">
        <p class="p-3">Zumm&Söhne is a wonderful company. They helped me with the photography at my daughter's wedding. What amazes me every time is their professional and practical way of doing business. I am truly fortunate have worked with them. I am already planning to do more shootings with them after my daughter's wedding. I highly recommend working with them!
          <br>
          John 
          <br>
          <br>
          <span class="font-weight-bold" id="nameProfession">John Smith, Store Owner</span>
          <br>
          <span id="nameProfession">www.johnsmith.com</span>
        </p>
      </div>


      <div class="col-4 offset-4 offset-md-0 col-md-3 mask">
        <img class="img-thumbnail myImg mt-3" src="/assets/port3.jpeg" alt="">
      </div>

      <div class="col-12  col-md-9 mask">
        <p class=" p-3">I learned about Zumm&Söhne a few years ago at an exhibition in Vienna. After this evening it was clear to me that I wanted to work with them. The year long work helped me in 2019 to change - to transform - personally and professionally. With their help, I suddenly found myself capable of developing myself more and more. The best thing that helped me personally was their immense knowledge about the history of photography and their excellent work morals.
          <br>
          Janett 
          <br>
          <br>
          <span class="font-weight-bold" id="nameProfession">Janett Smith, Event Planner</span>
          <br>
          <span id="nameProfession">www.janettsmith.com</span>
        </p>
      </div>


      <div class="col-4 offset-4 offset-md-0 col-md-3 maskDarker">
        <img class="img-thumbnail myImg mt-3" src="/assets/port4.jpeg" alt="">
      </div>

      <div class="col-12  col-md-9 maskDarker">
        <p class="p-3">I found out about Zumm&Söhne through a recommendation. I was in the process of a professional reorientation and did not yet know exactly in which direction I wanted to go. Therefore, I decided to have a personal coaching with the company. After getting to know each other briefly, they brought up the suggestion of doing a trial shooting with me for my career aspirations. Although I had first thought in a different direction, Zumm&Söhne enabled me through this approach and different questions enough opportunities for reflection, so that a clear picture emerged for me at the end of the shooting. This allowed me to evolve in a targeted manner and in the meantime I have also found a job in the field, where I am very happy. In retrospect, I felt very comfortable and satsfied with the services.
          <br>
          Josie 
          <br>
          <br>
          <span class="font-weight-bold" id="nameProfession">Josie Smith, Developer</span>
          <br>
          <span id="nameProfession">www.josiesmith.com</span>
        </p>
      </div>


      <div class="col-4 offset-4 offset-md-0 col-md-3 mask">
        <img class="img-thumbnail myImg mt-3" src="/assets/port5.jpeg" alt="">
      </div>

      <div class="col-12  col-md-9 mask">
        <p class=" p-3">I now had my 2nd photoshooting appointment with Zumm&Söhne on the topic of "nature photography". I am a photographer myself and have been feeling empty and drained for a long time looking for inspiration. Through your very insightful work, it became clear that I am stuck in a rut. Which is now, since the 2nd photoshooting, beginning to dissolve. It was very helpful for me and I can now see many things more clearly. Thank you very much for your support.
          <br>
          Jane
          <br>
          <br>
          <span class="font-weight-bold" id="nameProfession">Jane Smith, Photographer</span>
          <br>
          <span id="nameProfession">www.janesmith.com</span>
        </p>
      </div>


      <div class="col-4 offset-4 offset-md-0 col-md-3 maskDarker">
        <img class="img-thumbnail myImg mt-3" src="/assets/port6.jpeg" alt="">
      </div>

      <div class="col-12  col-md-9 maskDarker">
        <p class="p-3">As a visionary entrepreneur, it is important for me to leave my comfort zone again and again, to work on further developing my company. I already attended very inspiring exhibitions in Vienna in 2020 and I was also present this year at an intensive and diverse seminar week in Ibiza. In addition, the company successfully supported me with their online services to clarify my professional positioning even more.
          <br>
          Angelina
          <br>
          <br>
          <span class="font-weight-bold" id="nameProfession">Angelina Smith, Entrepreneur</span>
          <br>
          <span id="nameProfession">www.angelinasmith.com</span>
        </p>
      </div>



    </div> <!-- row end-->

</div> <!-- container end-->