<div class="container">

  <h1 id="pageTitle" class="text-center my-5">Testimonials</h1>

    <div class="row">


      <div class="d-flex flex-wrap animate__animated animate__backInLeft " *ngFor="let id of testimonials">

        <div class="col-4 offset-4 offset-md-0 col-md-3 {{ id.shade }}">
          <img class="img-thumbnail myImg mt-3 ms-3 p-1" src= "{{ id.image }} " alt="">
        </div>

        <div class="col-12  col-md-9 {{ id.shade }} ">
          <p class="p-3"> {{ id.message }}
            <br>
            {{ id.firstName }} 
            <br>
            <br>
            <span class="font-weight-bold" id="nameProfession">{{ id.firstName }} {{ id.lastName }} , {{ id.profession }}</span>
            <br>
            <span id="nameProfession">{{ id.webpage }}</span>
          </p>
        </div>

      </div>


    </div> <!-- row end-->

</div> <!-- container end-->