.myImg {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

#pageTitle {

}

#nameProfession {
  color: rgb(152, 124, 68);

}

.mask {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
}

.maskDarker {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
}