<div>
<h1 class="text-center mt-5" >Zumm & Söhne Photo Agency</h1>
</div>
<nav class="navbar navbar-expand-lg  navbar-light bg-transparent justify-content-md-center ">
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/portfolio" >Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/customers" >Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/testimonials" >Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about" >About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink= "/contact">Contact </a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>