 <!-- <div class="container">
  <div class="container-fluid my-5">
    <div class="row justify-content-around">
      <div class=" col-12 col-sm-6 col-md-4 col-lg-3 bg-transparent border-0 p-1"  *ngFor="let id of products">
        <img class="card-img-top" src="{{id.image}}" alt="Card Image">
        
      </div>
    </div>
  </div> 
</div> -->
<!-- {{start}} -->
<div class="container">
<div id ="grid" class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "masonry" }'>
  <div class="grid-item" *ngFor="let id of products">
    <img class="card-img-top" src="{{id.image}}" alt="Card Image">
  </div>
</div>
</div>







             


