<div class="container mb-5 mt-2">
      
      
      <div class="button-group filter-button-group my-3 fs-6 fw-light">
        <button class="border-0 bg-transparent text-white" data-filter="*">show all</button>
        <button class="border-0 bg-transparent text-white" data-filter=".porttraits">portraits</button>
        <button class="border-0 bg-transparent text-white" data-filter=".nature">nature</button>
        <button class="border-0 bg-transparent text-white" data-filter=".animals">animals</button>
        <button class="border-0 bg-transparent text-white" data-filter=".architecture">architecture</button>
        <button class="border-0 bg-transparent text-white" data-filter=".fineart">fineart</button>
        <button class="border-0 bg-transparent text-white" data-filter=".cars">cars</button>
      </div>
       
       
       
       
              <!-- <div id ="grid" class="grid" data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "masonry" }'> -->
                <div id="grid" class="grid">
                <div class="grid-item item {{ id.id }}" *ngFor="let id of products">
                  <a href="{{ id.image }}" data-lightbox="photos"><img class="img-fluid" src="{{id.image}}"></a>
                </div>
              </div> 
              </div> 
<!-- 
              <isotope-grid>
                <isotope-item *ngFor="let item of products">{{item.id}}</isotope-item>
              </isotope-grid> -->







              <!-- 

              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
              <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script> -->

<!-- </div>
      <script>
        $('.grid').isotope({
        // options
            itemSelector: '.grid-item',
            layoutMode: 'masonry'
        });
        console.log("hi");
        </script>

        <script>
        // init Isotope
        var $grid = $('.grid').isotope({
        // options
        });
        // filter items on button click
        $('.filter-button-group').on( 'click', 'button', function() {
        var filterValue = $(this).attr('data-filter');
        $grid.isotope({ filter: filterValue });
        });
      </script> -->


 


  
  
 
    
  







             


